/* Add CSS Styling */
.odd-number {
    background-color: #f7cdcd;
    font-family: "Verdana", "DejaVu sans", sans-serif;
}

#second-element {
    color: blue;
    font-size: 30px;
}

.third-element {
    font-size: 24px;
}

#fourth-element {
    background-color: #c6eeab;
    font-size: 24px;
    font-weight: bold;
}