/* Add CSS Styling */
.odd-number {
    background-color: rgb(255, 167, 167);
    font-family: Verdana, "DejaVu sans", sans-serif;
}

#second-element {
    color: #0000ff;
    font-size: 30px;
}

.third-element {
    font-size: 24px;
}

#fourth-element {
    background-color: hsl(120, 100%, 75%);
    font-size: 24px;
    font-weight: bold;
}